/**
 * $BREADCRUMB
 */
.breadcrumb {
  @extend %menu-base;
  @include font-size(1.2);

  li {
    padding-right: 0.4em;
    margin-right: 0;
    &:after {
      content: "»";
      padding-left: 0.4em;
      vertical-align: baseline;
    }
    &:last-child:after {
      content: "";
    }
  }

  a {
    text-decoration: none;
  }
}