@mixin circle-image-wrapper($imageWidth: 200px) {
  display: block;
  height: $imageWidth;
  width: $imageWidth;
  border-radius: $imageWidth;
  border: 3px solid #f3f3f3;
  &:hover {
    border-color: #e3e3e3;
  }
  img {
    border-radius: $imageWidth;

  }
}
