$debug-grid: false !default;

@mixin grid-background {
  @if $debug-grid == true {
    @include susy-grid-background;
  }
}

@mixin container {
  max-width: $container-width;
  margin: auto;
  > * {
    padding: 0 $colWidth;
  }
}

%container {
  @include container;
}

// mobile first 1/3 grid

%one-third-grid {
  width: 100%;
}

// mobile first 1/2 grid

%one-half-grid {
  width: 100%;
}

