.fluxkraft-rules-tooltip {
  @extend %element-invisible;
}

/*TODO: Improve*/

#tooltip {
  abbr {
    border-bottom: 1px dotted #111111;
    cursor: help;
    display: inline-block;
  }
  a {
    color: $white;
  }
  .group,
  .type {
    display: block;
  }
  .group {
    text-transform: uppercase;
    text-align: center;
    @include font-size(2.0);
  }
  type {
    text-align: center;
  }

  @include background(linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.8)));
  @include box-shadow(rgba(0,0,0,.3) 0 3px 5px);
  @include border-radius(5px);
  font-size: 0.875em;
  text-align: center;
  text-shadow: 0 1px rgba( 0, 0, 0, .5 );
  line-height: 1.5;
  color: #fff;
  position: absolute;
  z-index: 100;
  padding: 15px;

  &:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -9px;
    margin-left: -10px;
  }
  &.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #333;
    border-bottom-color: rgba( 0, 0, 0, .6 );
    top: -20px;
    bottom: auto;
  }
  &.left:after {
    left: 10px;
    margin: 0;
  }
  &.right:after {
    right: 10px;
    left: auto;
    margin: 0;
  }
}