.lt-ie9 {
  .l-maintenance-page {
    margin: 40px auto 40px auto;
  }
  .l-branding {
    width: 100%;
    display: block;
    clear: both;
    height: 100px;
    position: static;
  }
  h1 {
    margin-top: 50px;
    clear: both;
  }
  .task-list {
    display: none;
  }
}

