$container-width: 800px;

.l-constrained {
  @include clearfix;
}

.l-maintenance-page {
  @include clearfix;
  max-width: $container-width;
}

.l-maintenance-content {
  margin-bottom: $rowHeight;
}

@include breakpoint($l-tablet-up) {
  .l-maintenance-page {
    margin-top: 4 * $rowHeight;
    padding-bottom: $rowHeight;
    margin-bottom: $rowHeight;
  }
  .two-sidebars,
  .one-sidebar {
    .l-maintenance-content {
      @include span(9 of 12);
      @include last;
    }
    .l-maintenance--sidebar-first {
      @include span(3 of 12);
      padding-top: 20px;
    }
  }
}
