// Button Variables
$mainColor: $yellow;
$primaryColor: $mainColor;
$secondaryColor: $cyan;
$alertColor: red;
$successColor: green;
$shinyEdge: rgba(#fff, .2);
$darkEdge: rgba(#000, .01);
$btnBase: 15px !default;
$btnTinyBase: 5px !default;
$btnSmallBase: 10px !default;
$btnLargeBase: 15px !default;
$btnFontColor: $white;
$btnFontSizepx: 17px !default;
$btnFontSizerem: 1.7rem !default;
$btnTinyFontSizepx: 10px !default;
$btnTinyFontSizerem: 1rem !default;
$btnSmallFontSizepx: 12px !default;
$btnSmallFontSizerem: 1.2rem !default;
$btnLargeFontSizepx: 17px !default;
$btnLargeFontSizerem: 1.7rem !default;
$btnTransitionSpeed: .25s;
$btnTransitionEase: ease-in-out !default;
$btnRadius: 10px;
$btnShinyEdge: 0 1px 0 $shinyEdge inset;
$btnDarkEdge: 0 1px 0 $darkEdge inset;
$btnBorderWidth: 1px !default;
$btnBorderStyle: solid !default;
$btnAlignIndention: 12px !default;
$btnDisabledOpacity: 0.6 !default;
$hoverChange: 5%;