// Colors.
$blue         : #4e6bff;
$blue-dark    : #3e57d3;
$yellow       : #f0c000;
$yellow-light : #fff5cf;
$grey-light   : #e3e6e6;
$grey         : #999999;
$grey-dark    : #626262;
$black        : #000000;
$black-light  : #2f2f2f;
$white        : #ffffff;
$red-light    : #ffe7e7;

$cyan         : #2A8B8B;
$cyan-light   : #3FCACA;
$dark-yellow  : #d4aa00;

$twitter-color: #30a9fd;
$facebook-color: #3b58a5;