// Buttons
$buttonFontFamily: $baseFontFamily;
$buttonFontColor: $linkColorHover;
$buttonFontHoverColor: $linkColor;
$buttonBackgroundColor: #ffffff;
$buttonBackgroundHoverColor: #f5f5f5;
$buttonBorderColor: #cecece;
$buttonBorderHoverColor: #cecece;
